<div class="login-info">
{% if not user_name %}

    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

        <a href="" id="show-login1" data-toggle="modal" data-target="#myModal">
            <i class="glyphicon glyphicon-log-in font-lg txt-color-blue"> </i>
            <span style="padding-bottom: 9px">
                &nbsp;&nbsp;login&nbsp;&nbsp;
            </span>
            <i class="fa fa-angle-down"></i>
        </a>

    </span>

{% else %}

    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="static/sadmin/img/avatars/sunny.png" alt="me" class="online"/>
            <span>
                    {{ user_name }}
{#                john.doe#}
            </span>
            <i class="fa fa-angle-down"></i>
        </a>

    </span>

{% end %}
</div>
<!-- Button trigger modal -->
{#<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
{#  Launch demo modal#}
{#</button>#}



